body {
background-color: #9ef863;
}
 h1 {
    color: rgb(255, 212, 212);
    background-color: #d601b2;
 }

 header {
    text-align: center;
 }
 
 h2 {
    color: rgb(172, 7, 187);
 }

 h3 {
    color: #e2e602;
 }

 h4 {
   color: rgb(123, 151, 0);
 text-align: center;
 }

 nav {
    background-color: #08d601;
 }
 
 .centrada {
    display: block;
   margin-left: auto;
   margin-right: auto;
 }
